[data-theme='light'] {
  --btncolor: #000;
}
[data-theme='dark'] {
  --btncolor: #fff;
}
.heroContainer {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 8rem;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.herop {
  font-size: 1.75rem;
  margin-bottom: 1.125rem;
}
.heroh1 {
  display: inline-block;
  width: auto;
  position: relative;
  font-size: 4.5rem;
  margin-bottom: 2.25rem;
  font-weight: bold;
}
.heroShiny2 {
  --tw-text-opacity: 1;
  color: #00d1c3;
}
.wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.al {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  font-size: 18px;
  color : var(--btncolor);
  font-family: sans-serif;
  text-decoration: none;
  border-radius: 7px;
  padding: 5px;
  border: 2px solid #3333332b;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  overflow: hidden;
}
.al:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00d1c3;
  transition: all 0.35s;
}
.al:hover {
  color: #fff;
}

.al:hover:after {
  width: 100%;
}
.span {
  position: relative;
  z-index: 2;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
.img {
  position: absolute;
  z-index: -10;
  animation: float 2s ease-in-out infinite;
}

@media screen and (max-width: 1024px) {
  .heroh1 {
    font-size: 3rem;
  }
  .heroContainer {
    padding-top: 15rem;
  }
}
@media screen and (max-width: 767px) {
  .heroh1 {
    font-size: 2.5rem;
  }
  .heroContainer {
    padding-top: 10rem;
  }
}
